<main id="main" class="">

    <h1>Corre, Vive Galicia</h1>

    <section id="home" class="container">
      <h2>Explora Galicia Corriendo: Vive una Vida Saludable y Conéctate con la Naturaleza</h2>

      <p>
        ¡Bienvenido a nuestra comunidad de running en Galicia, donde la pasión 
        por correr se une con la belleza de la naturaleza! En esta página, te 
        invitamos a descubrir el asombroso paisaje gallego a través del running 
        y a experimentar una transformación positiva en tu estilo de vida.
      </p>
      <p>
        Correr es más que ejercicio; es un viaje hacia una vida más saludable. 
        Experimenta la mejora de tu salud cardiovascular, la liberación de endorfinas 
        que generan bienestar y la pérdida de peso sostenible. Escucha las historias 
        inspiradoras de corredores locales que han encontrado en el running una fuente 
        de energía y vitalidad.
      </p>
      <p>
        Galicia ofrece una variedad asombrosa de paisajes naturales, desde sus playas 
        doradas hasta sus montañas imponentes. Descubre rutas de running en la costa, 
        senderos de montaña rodeados de bosques verdes y mucho más. ¡Prepárate para 
        una aventura única en cada paso que des!
      </p>
      <p>
        ¡Únete a nosotros para descubrir la magia de correr en Galicia y transformar 
        tu estilo de vida en el camino!
      </p>

    
    </section>

    <section id="vigo" class="">
    
      <h2>Carreras en Vigo</h2>

      <div class="container-box">
        <div class="box box--color-red">
          <div class="">
            <span class="">3K</span>
            <span class="">29/01/23</span>
            <h3>SUBIDA AO CASTRO</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">10K</span>
            <span class="">26/02/23</span>
            <h3>CALVARIO 5 + 5</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">10K</span>
            <span class="">19/03/23</span>
            <h3>10K DE TEIS</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>
                  
        <div class="box box--color-blue">
          <div class="">
            <span class="">21K</span>
            <span class="">26/03/23</span>
            <h3>VIG BAY</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">10K</span>
            <span class="">16/04/23</span>
            <h3>CARREIRA DA CEREIXA</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">10K</span>
            <span class="">17/05/23</span>
            <h3>PRAIA DE SAMIL</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">10K</span>
            <span class="">17/06/23</span>
            <h3>CORRENDO POR VIGO</h3>
          </div>
          <div class="">
            <a class="" href="#">Cancelada</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">10K</span>
            <span class="">23/06/23</span>
            <h3>SAN XOÁN</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">10K</span>
            <span class="">15/10/23</span>
            <h3>VIGO CONTRA EL CÁNCER</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">Resultados</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">21K</span>
            <span class="">05/11/23</span>
            <h3>LA 21 DE VIGO</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--ins" href="#">INCRIPCIOENES</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">10K</span>
            <span class="">12/11/23</span>
            <h3>1VIGO + 11</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--ins" href="#">INCRIPCIOENES</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">10K</span>
            <span class="">03/12/23</span>
            <h3>ÉRGUETE E CORRE</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--ins" href="#">INCRIPCIOENES</a>
          </div>
        </div>
      </div>

    </section>

    <section id="coruna" class="">

      <h2>Carreras en A Coruña</h2>

      <div class="container-box">
        <div class="box box--color-blue">
          <div class="">
            <span class="">6K</span>
            <span class="">18/03/23</span>
            <h3>TORRE DE HERCULES</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">6K</span>
            <span class="">07/05/23</span>
            <h3>SAN PEDRO DE VISMA</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">6K</span>
            <span class="">21/05/23</span>
            <h3>OS ROSALES</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">6K</span>
            <span class="">25/06/23</span>
            <h3>MATOGRANDE</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">6K</span>
            <span class="">10/09/23</span>
            <h3>VOLTA A OZA</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-red">
          <div class="">
            <span class="">6K</span>
            <span class="">22/10/23</span>
            <h3>VENTORRILLO</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--res" href="#">RESULTADOS</a>
          </div>
        </div>

        <div class="box box--color-blue">
          <div class="">
            <span class="">5,5K</span>
            <span class="">26/11/23</span>
            <h3>NOVO MESOIRO</h3>
          </div>
          <div class="">
            <a class="box__btn box__btn--ins" href="#">INCRIPCIOENES</a>
          </div>
        </div>
      </div>

    </section>

    <section id="about" class="container">
      <picture>
        <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp" />
        <img src="./assets/images/logo.png?width=350" alt="Logo Corre, Vive Galicia" class="logo" />
      </picture>
      <p>
        Ponte en contacto con nosotros si tienes preguntas o deseas unirte a 
        nuestra comunidad de running en Galicia. Síguenos en nuestras redes 
        sociales para mantenerte actualizado sobre eventos y noticias emocionantes.
      </p>
      <p>
        ¡Únete a nosotros para descubrir la magia de correr en Galicia y 
        transformar tu estilo de vida en el camino!
      </p>
    </section>

  </main>
