<header>
<!-- navBar -->
    <nav id="navBar" class="">
        <ul class="menu">
            <li class="menu__item"><a class="" href="#home"><img src="./assets/images/logo2.png?width=165" alt="Logo Corre, Vive Galicia" /></a></li>
            <li class="menu__item"><a class="" href="#home">Home</a></li>
            <li class="menu__item"><a class="" href="#vigo">Vigo</a></li>
            <li class="menu__item"><a class="" href="#coruna">A Coruña</a></li>
            <li class="menu__item"><a class="" href="#about">About</a></li>
        </ul>
    </nav>
</header>